@import 'pages/homepage/homepage';


body{
    margin: 0px auto;
    padding: 0px;
    background: rgb(238, 236, 236);
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(255, 255, 255);
}
#header{
    .top-navbar{
        display: flex;
        height: 30px;
        background: rgb(116, 114, 114);
        box-sizing: border-box;
        justify-content: space-between;
        border-bottom: transparent;
        font-weight: 600;
        padding: 7px 20px;
        color: rgb(255, 255, 255);
        // tmwh-tel,mail,work hours
        .tmwh{
            display: flex;

           
            .tel{
                padding: 0px 10px;
                .tel-icon{
                    i{
                        transition: all .7s ease ;
                       color:#F27C66;
                       &:hover{
                           color: white;
                          
                       }
                    }
                }
            }
            .mail{
                padding: 0px 10px;

                .mail-icon{
                    i{
                        transition: all .7s ease ;
                        color:#18BB7C;
                        &:hover{
                            color: white;
                            
                        }
                    }
                }
            }
            .work-hours{
                padding: 0px 8px;
                .work-hours-icon{
                    i{
                        transition: all .7s ease ; 
                        color:#F9CB8F;
                        &:hover{
                            color: white;
                            
                        }
                    }
                }
            }
        }
        // sl-search,lang
        .sl{
            display: flex;
            
            .search{
                padding: 0px 10px;
                .search-icon{
                    i{
                        color: white;
                        cursor: pointer;
                        
                    }
                }
            }
            .lang{
               
                display: flex;
                cursor: pointer;

                .az{
                    padding: 0px 3px;
                }
                .eng{
                    padding: 0px 3px;
                }
                .ru{
                    padding: 0px 3px;
                }
            }
        }
       
    }
    
    }

#navbar-slider{
    height: 700px;
    width: 100%;
    background: url("../img/slider-3.jpg") no-repeat center center;
    object-fit: cover;
    font-weight: 700;
    font-size: large;
    margin: 0px 0px;
    .navbar{
        height: 70px;
        border: 0px solid rgb(221, 221, 221);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            margin-left: 50px;
        }
        .navbar-nav{
            ul{
                display: flex;
                li{
                    list-style: none;
                    margin-right: 22px;
                    transition: all .8s ease;
                    &:hover{
                        cursor: pointer;
                        color:#F27C66;
                    }
                }
            }
        }
}
}