body {
  margin: 0px auto;
  padding: 0px;
}

#header-slider {
  width: 100%;
}

#header-slider .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

#header-slider .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-slider .header .logo img {
  height: 60px;
  width: 76px;
  -o-object-fit: cover;
     object-fit: cover;
}

#header-slider .header .logo h3 {
  font-family: 'Raleway', sans-serif;
  color: #5F5F5F;
  font-weight: 500;
  font-size: 30px;
}

#header-slider .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

#header-slider .navbar ul li {
  list-style: none;
  color: #5F5F5F;
  border-right: 1px solid lightgray;
  margin-right: 8px;
  padding: 0px 15px;
}

#header-slider .navbar ul li:hover {
  color: #F27C66;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
}

#header-slider .search {
  border-radius: 40px;
  background: #EA9685;
  padding: 10px 20px;
  cursor: pointer;
}

#header-slider .search i {
  color: white;
}

#header-slider .search:hover {
  background: #18BB7C;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

#header-slider .slider {
  height: 85vh;
  width: 100%;
}

#header-slider .slider .slider-images img {
  height: 85vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

#header-slider .slider .slider-images .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85vh;
  width: 100%;
}

#header-slider .slider .slider-images .btns .btn {
  border: none;
  margin: 15px;
  width: 60px;
  background: rgba(255, 255, 255, 0.6);
  color: #646464;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
  padding: 15px 10px;
  border-radius: 47px;
}

#header-slider .slider .slider-images .btns .btn:hover {
  background: rgba(255, 255, 255, 0.4);
  color: #f3ebeb;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#latest-courses {
  height: 85vh;
  width: 100%;
  border: 3px solid black;
}

#latest-courses h1 {
  margin: 0px 780px;
  padding: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

#latest-courses h1:hover {
  color: #F27C66;
  cursor: pointer;
}

#latest-courses .latest-courses-container {
  margin: 0px auto;
  margin-right: 350px;
  height: 60vh;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#latest-courses .latest-courses-container .col-4 {
  border: 1px solid black;
  border-radius: 7px;
  height: 450px;
  width: 300px;
  margin-left: 20px;
  padding: 0px 0px;
  overflow: hidden;
}

#latest-courses .latest-courses-container .col-4 .img {
  overflow: hidden;
}

#latest-courses .latest-courses-container .col-4 .img img {
  height: 280px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -webkit-transition: all .9s ease;
  transition: all .9s ease;
}

#latest-courses .latest-courses-container .col-4 .img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  overflow: hidden;
}

#latest-courses .latest-courses-container .col-4 .img .learn-more {
  border: 1px solid #f7f6f6;
  color: white;
  font-family: 'Raleway', sans-serif;
  background-color: rgba(161, 158, 158, 0.7);
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 36%;
  -webkit-transition: all .9s ease;
  transition: all .9s ease;
}

#latest-courses .latest-courses-container .col-4 .img .learn-more:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=homepage.css.map */