{% extends 'admin/layout.html' %}

{% block content %}

<section class="Cities"style="padding: 20px 0px;">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h3 class="my-3">Add New Course</h3>
              <form action="/admin/cities/" method="POST" enctype="multipart/form-data">
              <div class="from-group my-2">
                  <input type="text" class="form-control" name="title" placeholder=" Title">
              </div>
              <div class="from-group my-2">
                  <input type="text" class="form-control" name="desc" placeholder="Description">
              </div>
              <div class="from-group my-2">
                  <input type="file" class="form-control" name="img" placeholder="Image">
              </div>
              <div class="from-group my-2">
                  <input type="submit"  class="btn btn-success" value="Add New City">
              </div>
              </form>
          </div>
      </div>
  </div>
</section>
<section class="cities">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h3 class="my-3">All Cities</h3>
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Title</th>
                      <th scope="col">Description</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for cities in cities %}
                    <tr>
                      <td>{{cities.id}}</td>
                      <td>{{cities.title}}</td>
                      <td>{{cities.desc}}</td>
                      <td>
                          <a href="/admin/cities/delete/{{cities.id}}"><i class="bi bi-trash mx-1"></i></a>
                          <a href="/admin/cities/update/{{cities.id}}"><i class="bi bi-pencil mx-1"></i></a>
                          <a href="/admin/cities/detail/{{cities.id}}"><i class="bi bi-envelope-open mx-1"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
          </div>
      </div>
  </div>
</section>
{% endblock %}