{% extends 'admin/layout.html' %}

{% block content %}
<section class="Courses">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h4 class="my-3">Add New Course</h4>
              <form action="/admin/courses/update/{{update.id}}" method="POST" enctype="multipart/form-data">
              <div class="from-group my-2">
                  <input type="text" class="form-control" name="title" placeholder="Title" value={{update.title}}>
              </div>
              <div class="from-group my-2">
                  <input type="text" class="form-control" name="desc" placeholder="Description" value={{update.desc}}>
              </div>
              <div class="from-group my-2">
                  <input type="file" class="form-control" name="img" placeholder="Image" >
              </div>
              <div class="from-group my-2">
                  <input type="submit" class="btn btn-success" value="Update">
              </div>
              </form>
          </div>
      </div>
  </div>
</section>
{% endblock %}