body {
  margin: 0px auto;
  padding: 0px;
  background: #f1f0f1;
  color: #a5a0a0;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.header-navbar {
  height: 40px;
  background: lightgray;
  border-bottom: 1px solid white;
}

.header-navbar .search-icon {
  margin: 0px 1712px;
  color: #60a17c;
}

.header-navbar .search-icon i {
  margin: 12px 32px;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  cursor: pointer;
}

.header-navbar .search-icon:hover {
  color: white;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  padding: 30px 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav .navbar-links {
  color: #60a17c;
  margin: 0px;
  padding: 0px;
}

.navbar-nav .navbar-links ul {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav .navbar-links ul li {
  padding: 6px;
  list-style: none;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

.navbar-nav .navbar-links ul li:hover {
  color: #e77e58;
}

#SLIDER .slider {
  border: 1px solid white;
}
