body{
    margin: 0px auto;
    font-family: 'Josefin Sans', sans-serif;
    color: #595959;
}
/*HEADER*/
#header{
    height: 970px;
    border-bottom: 1px solid black;
    background: url(../img/slider-1.jpg);
    background-repeat: no-repeat;
}
/*header head*/
.header-head{
    display: flex;
    justify-content: space-between;
    padding: 9px 25px;
    background-color: #383737;
    color: #ffffff;
}
/*tel, main, work hours*/
.tewh{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tel{
    display: flex;
    margin: 0px -7px;
    width: 201px;
    
}
.tel-icon{
    margin: -1px 5px;
    color: #f27c66;
}
.tel-icon:hover{
    color: #129261;
    transition: all .2s linear;
}
.mail{
    display: flex; 
    margin: 0px 10px;
    width: 299px;
   
   
}
.mail-icon{
    margin: 1px 11px;
    color: #f27c66;
}
.mail-icon:hover{
    color: #129261;
    transition: all .2s linear;
}
.work-hours{
    display: flex;
    justify-content: center;
    margin: 0px 0px;
    width: 121px;
 

}
.work-hours-icon{
    margin: -1px 9px;
    color: #f27c66;
}
.work-hours-icon:hover{
    color: #129261;
    transition: all .2s linear;
}
/*search,language*/
.sl{
    display: flex;
  
}
.search{
    width: 777px;
    margin: 1px 46px;
    border: 1px solid white;
    border-radius: 12px;
    background: white;
}
.search-icon{
    margin: -1px 780px;
    color:#f27c66 ;
    width: 24px;
    height: 18px;
    
}
.search-icon:hover{
    color:#129261;
    transition: all .2s linear;
}
.search-icon1{
    margin: 3px 3px;
}
.language{
   margin:6px 0px ;
   font-size: small;
}


/*header navbar*/
.header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background:  rgba(255, 255, 255, 0.6);
}
.logo{
    display: flex;
    width: 400px;
    height: 68px;
  
}
.logo img{
    width: 70px;
    height: 68px;
}
.name{
   display: flex;
   align-items: center;
   font-size: xx-large;
   color:#595959;
  
}

.navbar-nav{
    display: flex;
    margin: 1px 170px;


}
.navbar-nav ul{
    margin: 0px;
}
.navbar-nav ul b{
    
    display: flex;
    justify-content: space-between;
    margin: 0px;
  
}
.navbar-nav ul li{
    display: flex;
    margin: 0px 15px;
    padding: 30px 0px;
    font-size: x-large;
    list-style: none;
    box-sizing: border-box;
    
}
.navbar-nav ul li:hover{
    border-bottom: 2px solid #666565;
    color: #f27c66;
    cursor: pointer;
    transition: all .2s linear;
    box-sizing: border-box;
}

/*header slider*/
.header-slider{
    height: 800px;
   
}