body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.btn{
    padding: 10px 30px;
    margin: 5px 5px;
    transition: all .3s linear;
    text-align: center;
}
.btn1{
    background: #1a4635;
    color: rgb(255, 255, 255) ;
}
.btn1:hover{
    background: lightyellow;
    color: #1a4635 ;
}
.btn2{
    background: #1a4635;
    color: rgb(255, 255, 255) ;
}

.btn2:hover{
    background: lightyellow;
    color: #1a4635 ;
}
.btn3{
    background: #1a4635;
    color: rgb(255, 255, 255) ;
}
.btn3:hover{
    background: lightyellow;
    color: #1a4635 ;
}

#PriceList{
    text-align: center;
    padding: 60px 0px 0px 0px;
}
.price-item1{
    padding:  0px;
    margin:0px 100px;
  
    min-height: 480px;
    width: 240px;
    border: 1px solid rgb(230, 229, 229);
    transition: all .4s linear;
    
}
.price-item1 ul{
    margin: 40px 0px;
}
.price-item1 ul li{
    list-style:outside;
}
.price-item1:hover{
    box-shadow: 0px 5px 7px #1a4635;
    border: 2px solid #cdd2d8;
}
.price-item2{
    padding:  0px;
    margin: -40px;
    box-sizing: border-box;
    min-height: 550px;
    width: 240px;
    border: 1px solid rgb(230, 229, 229);
    transition: all .4s linear;
}
.price-item2 ul{
    margin: 50px 0px;
}
.price-item2:hover{
    box-shadow: 0px 5px 7px #1a4635;
    border: 2px solid #cdd2d8;
}
.price-item3{
    padding:  0px;
    margin: 0px -179px;
    box-sizing: border-box;
    min-height: 480px;
    width: 240px;
    border: 1px solid rgb(230, 229, 229);
    transition: all .4s linear;
  
}
.price-item3 ul{
    margin: 40px 0px;
}
.price-item3:hover{
    box-shadow: 0px 5px 7px #1a4635;
    border: 2px solid #cdd2d8;
}
.price-item2-top{
   padding:  10px 0px; 
   background:#1a4635 ;
   text-align: center;
   color: white;

}
.price-text{
    color: #1a4635;
}