body{
    font-family: 'Poppins', sans-serif;
    color: wheat;
    margin: 0px auto;
    background: rgb(135, 52, 46);
}
#header{
    margin: 0px auto;
    text-align: center;
    
    height: 133px;
    
}
.header-navbar{
    margin: 0px 50px;
    display: inline-block;
    background-color: rgb(135, 52, 46);
    text-align: center;
    display: flex;
    color: wheat;
    justify-content: space-between;
   
}
.header-navbar-items{
    display: flex;
}
.search-box{
    width: 666px;
    height: 33px;
    margin: 17px 26px;
    border: 1px solid wheat;
    background-color: wheat;

}
.find-font{
    margin: 4px 0px;
    margin-left: -578px;
    color:rgb(135, 52, 46) ;
}
.search-box-icon{
    
    width: 20px;
    margin: -37px 630px;
    color: rgb(135, 52, 46) ;


}
.upload{
    width: 157px;
    height: 33px;
    margin: 17px 22px;
    border: 1px solid wheat;
    background-color: wheat;
}
.upload-icon{
    color: rgb(135, 52, 46);
    margin: -31px;
    margin-left: -158px;

}
.upload-font{
    margin: 1px 0px;
    color: rgb(135, 52, 46);
}
 .user{
     width: 49px;
     height: 33px;
     margin: 17px 13px;
     border: 1px solid wheat;
     background-color: wheat;
 }
 .user-icon{
     color: rgb(135, 52, 46);
     margin: 1px;
 }
 .p1{
    margin: -40px;
    color: wheat;
 }
.header-navbar-links{
    word-spacing: 65px;
    height: 55px;
    color: wheat;
    border-top: 3px solid wheat;
    border-bottom: 3px solid wheat;
  
}
.header-navbar-links ul{
    margin: 16px;
    justify-content: space-between;
}
.header-navbar-links ul li{
   
    display: flex;
    display: inline-block;
    justify-content: space-between;
}


/*-------------------------------------------------------*/



#slider{
    display: flex;
    height: 2000px;
   
}
.item1{
    display: block;
    width: 1278px;
    border: 1px solid rgb(252, 252, 252);
    
}
.row1{
    
    display: flex;
    margin: 4px 8px;
    width: 1121px;
    height: 600px;
    
}
.col1{
    width: 60%;
    margin-top: 38px;
    margin-left: -68px;
    margin-right: 25px;
    

}
.col1-1{
    margin: 0px auto;
    height: 362px;
    width: 722px;
    border: 1px solid wheat;
    background: wheat;
}
.row1-2{
    margin: 19px -11px;
    display: flex;
    height: 170px;
    width: 743px;
    
}
.col1-2{
    margin: 0px auto;
    height: 170px;
    width: 350px;
    background: wheat;
    border: 1px solid wheat
}
.col1-3{
    margin: 0px auto;
    height: 170px;
    width: 350px;
    background: wheat;
    border: 1px solid wheat
}

.col2{
    margin: 44px;
    width: 40%;
    margin-top: 38px;
    

}
.col2-1{
    margin: 0px auto;
    height: 170px;
    width: 350px;
    background: wheat;
    border: 1px solid wheat
    
}
.col2-2{
    margin: 20px auto;
    height: 170px;
    width: 350px;
    background: wheat;
    border: 1px solid wheat;
}
.col2-3{
    margin: 0px auto;
    height: 170px;
    width: 350px;
    border: 1px solid wheat;
}

.row2{
    display: flex;
    margin: 0px 72px;
    border: 1px solid black;

}

.row3{
    display: flex;
    margin: 1225px -1213px;
    border: 1px solid black;

}

.item2{
    
    width: 738px;
    height: 1100px;
    border: 1px solid rgb(238, 238, 238);
    color: wheat;
}


/*-------------------------------------------------------*/



#footer{
    border-top: 3px solid wheat;

    height: 250px;

}
.container{
    margin: 11px 0px;
    border: 3px solid rgb(135, 52, 46);
}
.icons{
    margin: 9px 23px;
    display: flex;
   
}
.twitter{
    margin: 0px 15px;
    width: 50px;
    height: 50px;
    background: wheat;
    color: rgb(135, 52, 46) ;
}
.twitter-icon{
    margin: 10px 15px;

    color: rgb(135, 52, 46) ;
} 
.linkedin{
    margin: 0px 15px;
    width: 50px;
    height: 50px;
    background: wheat;
    color: rgb(135, 52, 46) ;
}
.linkedin-icon{
    margin: 10px 16px;

    color: rgb(135, 52, 46) ;
}

.facebook{
    margin: 0px 15px;
    width: 50px;
    height: 50px;
    background: wheat;
    color: rgb(135, 52, 46) ;
}
.facebook-icon{
    margin: 10px 18px;

    color: rgb(135, 52, 46) ;
}
.navbar{
    margin: 29px 566px;
  
}
.navbar ul {
    word-spacing:8px;
    margin: 34px -568px;
    display: flex;
   
}
.navbar ul li{
    text-align: center;
    color: wheat;
 
    list-style: none;
    display: flex;
    display: inline-block;
 
}
.end{
    margin: -4px 37px;
    color: wheat;
}
.end-navbar{
    margin: 26px 0px;
}
   
.end-navbar ul{
    word-spacing:8px;
}
.end-navbar ul li{
    text-align: center;
    color: wheat;
    
    list-style: none;
    display: flex;
    display: inline-block
}



