body{
     font-family: 'Poppins', sans-serif;
}

#team{
    padding: 50px 0px;
    font-size: 15px;
}
.container{}

.team-header-left{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.team-header-left h5{
    color: #94b4a4;
}
.team-header-left h3{
    
    color: #749283;
    font-weight: bold;
    font-size: 1.7em;
}
.team-header-left span{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: peru;
}

.team-header-middle p{
    color: gray;
}
.team-header-right {
    display: flex;
    justify-content: flex-end;
}
.row2{
    display: flex;
    margin: 30px;
}
.team-member{
    min-height: 500px;
    position: relative;
    overflow: hidden;

}

.social-icons {
    width: 30px;
    display: flex;
    flex-direction: column;
    background: #749283;
    color: white;
    position: absolute;
    top: 0px;
    left: -30px;
    z-index: 3;
    transition: all .7s ease;
}
.social-icons i {
    padding: 7px;
}
.image-frame {
    height: 400px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1
}
.image-frame img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    transition: all .7s ease;
}

.info {
    width: 190px;
    padding: 30px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    background: white;
    text-align: center;
    box-shadow: 0px 0px 5px gray;
    border-bottom: 5px solid transparent;
    position: absolute;
    bottom: 40px;
    left: 45px;
    z-index: 2;
    transition: all .8s ease;
}

.team-member:hover .image-frame img {
    transform: scale(1.2);
}

.team-member:hover .social-icons {
    left: 0px;
}

.team-member:hover .info {
    border-bottom: 4px solid #749283;
}
