.myDiv {
    border: 5px outset rgb(197, 85, 30);
    background-color: rgb(47, 184, 131);    
    text-align: center;
  }
  .p1{
      font-family: Verdana, Geneva, Tahoma, sans-serif ;
  }
   
  .p2{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .p3{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .p4{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .p5{
      font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }
  .p6{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .p7{
      font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }
  .p8{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .p9{
      font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }
  .p10{
      font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }
  .p11{
      font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }
  .p12{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .p13{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .p14{
      font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }
  .p15{
      font-family: monospace; color: rgb(218, 236, 222); background-color: rgb(41, 153, 110);
  }
  .p16{
      font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(211, 157, 39);
  }
 